executor {
    name = 'slurm'
    submitRateLimit = '3/2min'
    errorStrategy = 'retry'
    maxRetries = 2
    retry.maxDelay = '10min'
    retry.delay = '5min'
}

process {
    withName:MINIMAP2 {
        clusterOptions = '--account ddp195 --time 48:00:00 --cpus-per-task 128 --ntasks 1 --nodes 1 --partition ind-compute '
    cpus = 128
    }
    withName:SORT {
        cpus = 16
        clusterOptions = '--account ddp195 --time 04:00:00 --mem 32G --cpus-per-task 16 --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:ADD_READGROUP {
        cpus = 64
        clusterOptions = '--account ddp195 --time 01:00:00 --cpus-per-task 64 --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:INDEX {
	cpus = 16
        clusterOptions = '--account ddp195 --time 04:00:00 --mem 32G --cpus-per-task 16 --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:SUBSET_VCF {
	cpus = 64
        clusterOptions = '--account ddp195 --time 24:00:00 --cpus-per-task 64 --mem 64G --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:PHASE {
	cpus = 4
        clusterOptions = '--account ddp195 --time 48:00:00 --cpus-per-task 4 --mem 64G --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:INDEX_PHASE {
        cpus = 16
        clusterOptions = '--account ddp195 --time 4:00:00 --mem 32G --cpus-per-task 16 --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:MERGE_FAMILY_VCFS {
        cpus = 64
        clusterOptions = '--account ddp195 --time 24:00:00 --cpus-per-task 64 --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:HAPLOTAG {
	cpus = 4
        clusterOptions = '--account ddp195 --time 48:00:00 --cpus-per-task 4 --mem 64G --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:CUTESV {
	cpus = 64
        clusterOptions = '--account ddp195 --time 12:00:00 --cpus-per-task 64 --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:POSTPROCESS_CUTESV{
	cpus = 4
        clusterOptions = '--account ddp195 --time 01:00:00 --cpus-per-task 4 --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:SNIFFLES {
	cpus = 128
        clusterOptions = '--account ddp195 --time 48:00:00 --cpus-per-task 128 --ntasks 1 --nodes 1 --partition ind-compute '
    }
    withName:SNIFFLES_V2 {
        cpus = 128
        clusterOptions = '--account ddp195 --time 8:00:00 --cpus-per-task 128 --ntasks 1 --nodes 1 --constraint="lustre" --partition ind-shared '
    }
    withName:POSTPROCESS_SNIFFLES {
	cpus = 4
        clusterOptions = '--account ddp195 --time 01:00:00 --cpus-per-task 4 --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:SVIM {
	cpus = 32
        clusterOptions = '--account ddp195 --time 14:00:00 --cpus-per-task 32 --mem 64G --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:POSTPROCESS_SVIM{
	cpus = 4
        clusterOptions = '--account ddp195 --time 01:00:00 --cpus-per-task 4 --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:PBSV {
	cpus = 32
        clusterOptions = '--account ddp195 --time 14:00:00 --cpus-per-task 32 --mem 64G --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:POSTPROCESS_PBSV {
	cpus = 4
        clusterOptions = '--account ddp195 --time 01:00:00 --cpus-per-task 4 --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:JASMINE {
	cpus = 128
        clusterOptions = '--account ddp195 --time 48:00:00 --cpus-per-task 128 --ntasks 1 --nodes 1 --partition ind-compute '
    }
    withName:POSTPROCESS_JASMINE {
	cpus = 8
        clusterOptions = '--account ddp195 --time 01:00:00 --cpus-per-task 8 --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:SEP_CHROMS_PRE_GENOTYPE {
	cpus = 8
        clusterOptions = '--account ddp195 --time 01:00:00 --cpus-per-task 8 --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:GENOTYPE_NONTR {
	cpus = 8
        clusterOptions = '--account ddp195 --time 18:00:00 --cpus-per-task 8 --mem 16G --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:MERGE_GENOTYPE_CHROMS_NONTR {
	cpus = 8
        clusterOptions = '--account ddp195 --time 01:00:00 --cpus-per-task 8 --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:GENOTYPE_TR {
	cpus = 8
        clusterOptions = '--account ddp195 --time 18:00:00 --cpus-per-task 8 --mem 16G --ntasks 1 --nodes 1 --partition ind-shared '
    }
    withName:MERGE_GENOTYPE_CHROMS_TR {
	cpus = 8
        clusterOptions = '--account ddp195 --time 01:00:00 --cpus-per-task 8 --ntasks 1 --nodes 1 --partition ind-shared '
    }
}

report {
    enabled = true 
    file = 'ReachAsh_pipeline_report.html'
}

trace {
    enabled = true
    file = 'ReachAsh_pipeline_trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,rss,attempt,queue,read_bytes,write_bytes,env,workdir,scratch,error_action'
}
